<div id="section-register" class="site-box-container container--fullscreen box--can-stick">

  <div class="site-box box--big lap--box--small-fl-auto box--typo-big box--lots-of-text box--top-align box--column-flow box__heading" data-order="0">
    <div class="reduce-top-margin">
      <div class="site-box-content">
        <h1 class="title h1">{{ 'customers.register_page.title' | t }}</h1>
        {%- if settings.headings_hr -%} <hr /> {%- endif -%}
      </div>
    </div>
  </div>

  <div class="site-box box--big lap--box--bigger box--top-align box--column-flow box__text" data-order="1">

    <div class="site-box-content reduce-top-margin">

      <div>

        <div class="simple-grid">

          {%- form 'create_customer' -%}

            <div class="grid__item one-whole">{%- render 'form-errors', form: form -%}</div>

            <div class="grid__item one-half">
              <label for="FirstName" class="hidden-label">{{ 'customers.register_page.form.first_name_label' | t }}</label>
              <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customers.register_page.form.first_name_label' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
            </div>

            <div class="grid__item one-half">
              <label for="LastName" class="hidden-label">{{ 'customers.register_page.form.last_name_label' | t }}</label>
              <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customers.register_page.form.last_name_label' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
            </div>

            <div class="grid__item one-whole">
              <label for="Email" class="hidden-label">{{ 'customers.register_page.form.email_label' | t }}</label>
              <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customers.register_page.form.email_label' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
            </div>

            <div class="grid__item one-whole">
              <label for="CreatePassword" class="hidden-label">{{ 'customers.register_page.form.password_label' | t }}</label>
              <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customers.register_page.form.password_label' | t }}">
            </div>

            <div class="grid__item one-whole">
              <div class="buttons-holder">
                <button type="submit" class="button button--solid">
                  <span class="button-scroll-in">{{ 'customers.register_page.form.submit_button' | t }}</span>
                </button>  
                <a href="{{ routes.root_url }}" class="button button--outline" style="text-align:center">
                  <span class="button-scroll-in">{{ 'customers.addresses_page.form.cancel_button' | t }}</span>
                </a>
              </div>
            </div>

          {%- endform -%}

        </div>

      </div>

    </div>

  </div>

</div>

{% schema %}
  {
    "name": "t:sections.local-extra-words.sections.customers.register.name",
    "class": "section--remove-bottom-margin-after"
  }
{% endschema %}